.home {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background: #f8f8f8;

  .home__h1, .home__h2 {
    font-family: 'Amatic SC', cursive;
    color: #4a4a4a;
    font-weight: bold;
    text-align: center;
  }

  .home__h1{
    font-size: 4rem;
  }

  .home__h2 {
    font-size: 3.4rem;
  }

  .home__text {
    color: #4a4a4a;
    padding-top: 50px;
    text-align: center;
  }
}