.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    .navbar__ul {
        display: flex;
        justify-content: flex-start;

        .navbar__ul__li {
            padding: 20px;
        }
    }
}