.navbar {
    font-family: 'Amatic SC', cursive;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    color: #333;
    //background: #f8f8f8;

    .navbar__ul {
        display: flex;
        justify-content: flex-start;

        .navbar__ul__li {
            padding: 15px;
            margin: auto;

            .navbar__ul__li__link {
                font-family: 'Amatic SC', cursive;
                font-size: 1.8rem;
                color: #999;
                text-decoration: none;
                &:hover {
                   color: #333;
                }
            }

            .active {
                color: #333;
                // border-bottom: 1px solid #999;
                // padding-bottom: 10px;
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-decoration-color: #999;
                text-underline-offset: 12px;
            }
        }
    }
}