.contact {
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
    padding-top: 50px;

    .contact__link--github {
        display: flex;
        align-items: center;
        color: #999;
    }
    
    .contact__link--github:hover {
        transform: scale(120%);
        transition-duration: 300ms;
    }

    @media screen and (max-width: 896px) {
        .contact__link--github {
        //   display: none;
        }
    }

    .contact__link--dina {
        display: flex;
        align-items: center;
        color: #999;

        .contact__link--dina__arrow {
            color: #999;
        }
    }

    .contact__link--dina:hover {
        transition-duration: 300ms;
        transform: scale(120%);
    }

    // @media screen and (max-width: 896px) {
    //     .footer__link--dina {
    
    //         .footer__link--dina__arrow {

    //         }
    //     }
    // }
}